.infiniteMovingCard {
  display: flex;
  flex-direction: row;
  gap: var(--gap-12px);
  align-items: center;
  padding-block: 8px;
  padding-inline: 24px;
  border-radius: var(--border-radius-8px);
  background: var(--glass-border-color);
  border: 1px solid var(--glass-border-color);
}

.infiniteMovingCardImage {
  width: 22px;
  height: 22px;
  object-fit: cover;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.infiniteMovingCardName {
  color: var(--default-text-color);
  font-family: var(--font-family-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
