.projectCards {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-12px);
  background-color: var(--page-bg);
  border: 1px solid #ffffff1a;
  box-shadow: inset 0 -20px 80px -20px #ffffff1f;
  padding: var(--padding-16px);
  backdrop-filter: blur(10px);
  transition: all 0.4s ease;
}

.projectCardWrapper {
  position: relative;
  overflow: hidden;
}

.projectCardWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 25%,
    rgba(12, 8, 17, 0.4) 70%
  );
  border-radius: var(--border-radius-12px);
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.projectCardImage {
  width: 100%;
  height: 377px;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: var(--border-radius-12px);
}

.projectCardInfo {
  color: #fff;
  font-family: var(--font-family-secondary);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  z-index: 2;
}

.projectCardHoverInfoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -40px;
  left: 16px;
  right: 16px;
  transition: all 0.4s ease;
  z-index: 2;
}

.projectCards:hover .projectCardWrapper::after {
  opacity: 1;
}

.projectCards:hover .projectCardHoverInfoWrapper {
  bottom: 16px;
  transition: all 0.4s ease;
}

.projectCardHoverInfo {
  width: 80%;
  color: #fff;
  font-family: var(--font-family-primary);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  text-wrap: wrap;
}

.projectLinkButton {
  display: flex;
  padding: 4px;
  align-items: center;
  border-radius: 6px;
  border: 0.5px solid #d4d4d4;
}
