.packageManager {
  border: 1px solid var(--glass-border-color);
}

.packageManagerWrapper {
  border: 1px solid var(--glass-border-color);
  border-radius: var(--border-radius-6px);
}

.packageManagerButton {
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  color: var(--default-text-color);
  padding: 6px 16px;
  background-color: var(--page-bg);
  border: 0.2px solid var(--glass-border-color);
}

.copyCommand {
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1em;
  color: var(--default-text-color);
  padding: 6px 16px 6px 2px;
  background-color: var(--page-bg);
  border: 0.5px solid var(--glass-border-color);
  border-radius: var(--border-radius-6px);
  overflow: hidden;
  box-shadow: inset 0 -20px 80px -20px #ffffff1f;
}

.copyCommand::selection {
  background-color: var(--default-violet-color);
  color: var(--default-text-color-dark);
}

.Icon {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
}

.copyButton {
  border: 0.5px solid var(--glass-border-color);
  border-radius: var(--border-radius-6px);
  padding: 23px;
}
