.testimonialCards {
  padding: var(--padding-24px);
  gap: var(--gap-32px);
  border-radius: var(--border-radius-12px);
  background-color: var(--page-bg);
  border: 1px solid #ffffff1a;
  box-shadow: inset 0 -20px 80px -20px #ffffff1f;
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 440px;
  max-width: 440px;
  flex-shrink: 0;
}

.testimonialText {
  color: var(--testimonial-text-color);
  font-family: var(--font-family-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-wrap: wrap;
}

.testimonialInfoWrapper {
  display: inline-flex;
  align-items: center;
  gap: var(--gap-12px);
}

.testimonialImage {
  width: 48px;
  height: 48px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.testimonialInfo {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
}

.testimonialName {
  color: var(--default-text-color);
  font-family: var(--font-family-primary);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.testimonialBrandName {
  color: var(--default-text-color);
  font-family: var(--font-family-secondary);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
