/* Mobile Devices & Tablets*/
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .title {
    font-size: 20px;
  }
  .text {
    font-size: 16px;
    margin-top: 12px;
  }
  .textRevealText {
    font-size: 24px;
    text-align: center;
    letter-spacing: 2px;
  }
  .mask {
    width: 100%;
  }
  .textRevealWrapper {
    height: 100px;
  }
}
