.packageManager {
  border: 1px solid var(--glass-border-color);
}

.packageManagerWrapper {
  border: 1px solid var(--glass-border-color);
  border-radius: var(--border-radius-6px);
}

.packageManagerButton {
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  color: var(--default-text-color);
  padding: 6px 16px;
  background-color: var(--page-bg);
  border: 0.2px solid var(--glass-border-color);
}

.copyCommand {
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1em;
  color: var(--default-text-color);
  padding: 6px 16px 6px 2px;
  background-color: var(--page-bg);
  border: 0.5px solid var(--glass-border-color);
  border-radius: var(--border-radius-6px);
  overflow: hidden;
  box-shadow: inset 0 -20px 80px -20px #ffffff1f;
}

.copyCommand::selection {
  background-color: #0057E0;
  color: var(--default-text-color-dark);
}

.Icon {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
}

.copyButton {
  border: 0.5px solid var(--glass-border-color);
  border-radius: var(--border-radius-6px);
  padding: 23px;
}

/* Mobile Devices & Tablets*/
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .copyContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: calc(1.25rem + 0rem * (100vw - 320px) / (1023px - 320px));
    width: 100%;
  }
  .packageManagerButton {
    font-size: calc(0.875rem + 0.125rem * (100vw - 320px) / (1023px - 320px));
    border: calc(0.015625rem + 0.00625rem * (100vw - 320px) / (1023px - 320px));
  }
  .copyCommand {
    padding-block: calc(0.75rem + 0.125rem * (100vw - 320px) / (1023px - 320px));
    padding-inline: calc(1rem + 0.25rem * (100vw - 320px) / (1023px - 320px));
    font-size: calc(1rem + 0.125rem * (100vw - 320px) / (1023px - 320px));
    border-radius: calc(0.375rem + 0.0625rem * (100vw - 320px) / (1023px - 320px));
  }
  .copyButton {
    margin-left: calc(0.75rem + 0rem * (100vw - 320px) / (1023px - 320px));
  }
}

@media screen and (min-width: 1024px) {
  .packageManagerButton {
    border: calc(0.00625rem + 0.003125rem * (100vw - 1024px) / (1920px - 1024px));
    padding: calc(0.25rem + 0.0625rem * (100vw - 1024px) / (1920px - 1024px))
      calc(0.75rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px));
    font-size: calc(0.875rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px));
  }
  .emailTextWrapper {
    margin-top: calc(0.75rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px));
  }
  .copyCommand {
    padding: calc(0.5rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px))
      calc(0.75rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px));
    font-size: calc(0.875rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px));
  }
  .copyButton {
    padding: calc(1.1875rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
  }
}
