.testimonial_cards {
    background-color: #0c0811;
    border: 2px solid #ffffff1a;
    box-shadow: inset 0 -4px 40px -4px #ffffff1f;
}

/* Mobile Devices & Tablets*/
@media screen and (min-width: 320px) and (max-width: 1023px) {
    .testimonial_cards {
        width: calc(16.25rem + 2.5rem * (100vw - 320px) / (1023px - 320px));
        height: calc(22.5rem + 3.75rem * (100vw - 320px) / (1023px - 320px));
        border-radius: calc(0.75rem + 0.25rem * (100vw - 320px) / (1023px - 320px));
        background-color: #0c0811;
        border: 2px solid #ffffff1a;
        box-shadow: inset 0 -4px 40px -4px #ffffff1f;
    }

    .avatar {
        width: calc(6.25rem + 1.25rem * (100vw - 320px) / (1023px - 320px));
        height: calc(6.25rem + 1.25rem * (100vw - 320px) / (1023px - 320px));
    }

    .test_message {
        margin-top: calc(1.25rem + 0.25rem * (100vw - 320px) / (1023px - 320px));
        font-size: calc(1rem + 0.125rem * (100vw - 320px) / (1023px - 320px));
        font-family: var(--font-family-secondary);
    }

    .author {
        font-size: calc(1rem + 0.125rem * (100vw - 320px) / (1023px - 320px));
        font-family: var(--font-family-secondary);
        font-weight: 400;
    }

    .position {
        font-size: calc(0.75rem + 0.125rem * (100vw - 320px) / (1023px - 320px));
    }

    .text_wrapper {
        display: flex;
        flex-direction: column;
        gap: calc(0.375rem + 0.125rem * (100vw - 320px) / (1023px - 320px));
        margin-top: calc(1.25rem + 0.25rem * (100vw - 320px) / (1023px - 320px));
    }
}

@media screen and (min-width: 1024px) {
    .testimonial_cards {
        width: calc(20rem + 3.75rem * (100vw - 1024px) / (1920px - 1024px));
        height: calc(28.125rem + 4.375rem * (100vw - 1024px) / (1920px - 1024px));
        border-radius: calc(0.625rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
    }

    .avatar {
        width: calc(8.125rem + 1.25rem * (100vw - 1024px) / (1920px - 1024px));
        height: calc(8.125rem + 1.25rem * (100vw - 1024px) / (1920px - 1024px));
    }

    .test_message {
        margin-top: calc(1.25rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
        font-size: calc(1rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px));
        font-family: var(--font-family-secondary);
    }

    .author {
        font-size: calc(1rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px));
        font-family: var(--font-family-secondary);
        font-weight: 400;
    }

    .position {
        font-size: calc(0.875rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px));
    }

    .text_wrapper {
        display: flex;
        flex-direction: column;
        gap: calc(0.375rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px));
        margin-top: calc(1.25rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
    }
}
