.infiniteMovingCard {
  display: flex;
  flex-direction: row;
  gap: var(--gap-12px);
  align-items: center;
  padding-block: 8px;
  padding-inline: 24px;
  border-radius: var(--border-radius-8px);
  background: var(--glass-border-color);
  border: 1px solid var(--glass-border-color);
}

.infiniteMovingCardImage {
  width: 22px;
  height: 22px;
  object-fit: cover;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.infiniteMovingCardName {
  color: var(--default-text-color);
  font-family: var(--font-family-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .infiniteMovingCardImage {
    width: calc(1.5rem + 0rem * (100vw - 320px) / (1023px - 320px));
    height: calc(1.5rem + 0rem * (100vw - 320px) / (1023px - 320px));
    aspect-ratio: 1/1;
  }
  .infiniteMovingCard {
    padding-block: calc(0.875rem + 0.125rem * (100vw - 320px) / (1023px - 320px));
    padding-inline: calc(1.5rem + 0.25rem * (100vw - 320px) / (1023px - 320px));
    gap: calc(0.75rem + 0.125rem * (100vw - 320px) / (1023px - 320px));
  }
  .infiniteMovingCardName {
    font-size: calc(1rem + 0rem * (100vw - 320px) / (1023px - 320px));
  }
}

@media screen and (min-width: 1024px) {
  .infiniteMovingCardImage {
    width: calc(1.5rem + 0rem * (100vw - 1024px) / (1920px - 1024px));
    height: calc(1.5rem + 0rem * (100vw - 1024px) / (1920px - 1024px));
    aspect-ratio: 1/1;
  }
  .infiniteMovingCard {
    padding-block: calc(0.5rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px));
    padding-inline: calc(1.5rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
    gap: calc(0.75rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px));
  }
  .infiniteMovingCardName {
    font-size: calc(1rem + 0rem * (100vw - 1024px) / (1920px - 1024px));
  }
}

@media screen and (min-width: 1440px) {
  .infiniteMovingCard {
    padding-block: calc(0.75rem + 0.125rem * (100vw - 1440px) / (1920px - 1440px));
    padding-inline: calc(1.5rem + 0.25rem * (100vw - 1440px) / (1920px - 1440px));
  }
}
