.projectCards {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-12px);
  background-color: var(--page-bg);
  border: 1px solid #ffffff1a;
  box-shadow: inset 0 -20px 80px -20px #ffffff1f;
  padding: var(--padding-16px);
  backdrop-filter: blur(10px);
  transition: all 0.4s ease;
}

.projectCardWrapper {
  position: relative;
  overflow: hidden;
}

.projectCardWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0) 25%,
      rgba(12, 8, 17, 0.4) 70%);
  border-radius: var(--border-radius-12px);
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.projectCardImage {
  width: 100%;
  height: 377px;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: var(--border-radius-12px);
}

.projectCardInfo {
  color: #fff;
  font-family: var(--font-family-secondary);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  z-index: 2;
}

.projectCardHoverInfoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -40px;
  left: 16px;
  right: 16px;
  transition: all 0.4s ease;
  z-index: 2;
}

.projectCards:hover .projectCardWrapper::after {
  opacity: 1;
}

.projectCards:hover .projectCardHoverInfoWrapper {
  bottom: 16px;
  transition: all 0.4s ease;
}

.projectCardHoverInfo {
  width: 80%;
  color: #fff;
  font-family: var(--font-family-primary);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  text-wrap: wrap;
}

.projectLinkButton {
  display: flex;
  padding: 4px;
  align-items: center;
  border-radius: 6px;
  border: 0.5px solid #d4d4d4;
}

/* Mobile Devices & Tablets*/
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .projectCards {
    border-radius: calc(0.5rem + 0.25rem * (100vw - 320px) / (1023px - 320px));
    padding: calc(0.75rem + 0.25rem * (100vw - 320px) / (1023px - 320px));
  }

  .projectCardImage {
    border-radius: calc(0.375rem + 0.125rem * (100vw - 320px) / (1023px - 320px));
    height: calc(12.375rem + 1.125rem * (100vw - 320px) / (1023px - 320px));
  }

  .projectCardWrapper::after {
    opacity: 1;
  }

  .projectCardInfo {
    font-size: calc(1.125rem + 0.125rem * (100vw - 320px) / (1023px - 320px));
    top: calc(1rem + 0.25rem * (100vw - 320px) / (1023px - 320px));
    left: calc(1rem + 0.25rem * (100vw - 320px) / (1023px - 320px));
    right: calc(1rem + 0.25rem * (100vw - 320px) / (1023px - 320px));
  }
  
  .projectCardHoverInfoWrapper {
    bottom: calc(1rem + 0.25rem * (100vw - 320px) / (1023px - 320px));
    left: calc(1rem + 0.25rem * (100vw - 320px) / (1023px - 320px));
    right: calc(1rem + 0.25rem * (100vw - 320px) / (1023px - 320px));
  }
  
  .projectCardHoverInfo {
    font-size: calc(1rem + 0.125rem * (100vw - 320px) / (1023px - 320px));
    font-weight: 400;
  }
  
  .projectLinkButton {
    width: calc(1.75rem + 0.25rem * (100vw - 320px) / (1023px - 320px));
    height: calc(1.75rem + 0.25rem * (100vw - 320px) / (1023px - 320px));
    padding: calc(0.25rem + 0.125rem * (100vw - 320px) / (1023px - 320px));
  }
}

/* Desktop Screens */
@media screen and (min-width: 1024px) {
  .projectCards {
    border-radius: calc(0.625rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px));
    padding: calc(0.75rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
  }

  .projectCardImage {
    height: 34%;
    border-radius: calc(0.5rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px));
  }
  
  .projectCardInfo {
    font-size: calc(1.125rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px));
    top: calc(1rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
    left: calc(1rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
    right: calc(1rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
  }
  
  .projectCardHoverInfoWrapper {
    bottom: calc(-2.5rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
    left: calc(1rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
    right: calc(1rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
  }
  
  .projectCardHoverInfo {
    font-size: calc(1rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px));
  }
  
  .projectLinkButton {
    width: calc(1.75rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
    height: calc(1.75rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
    padding: calc(0.25rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px));
  }
}