.skillCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-8px);
  padding-block: var(--padding-8px);
  padding-inline: var(--padding-16px);
  border-radius: 6px;
  background-color: var(--page-bg);
  border: 1px solid #ffffff1a;
  box-shadow: inset 0 -12px 40px -20px #ffffff1f;
  backdrop-filter: blur(10px);
}

.skillImage {
  width: 20px;
  height: 20px;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.skillName {
  color: var(--Skill-text-color);
  font-family: var(--font-family-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-wrap: nowrap;
}

/* Mobile Devices & Tablets*/
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .skillCard {
    padding: calc(0.75rem + 0.25rem * (100vw - 320px) / (1023px - 320px)) calc(1.5rem + 0.5rem * (100vw - 320px) / (1023px - 320px));
  }

  .skillName {
    font-size: calc(0.875rem + 0.125rem * (100vw - 320px) / (1023px - 320px));
  }

  .skillImage {
    width: calc(1.125rem + 0.125rem * (100vw - 320px) / (1023px - 320px));
    height: calc(1.125rem + 0.125rem * (100vw - 320px) / (1023px - 320px));
  }
}

/* Desktop Responsiveness */
@media screen and (min-width: 1024px) {
  .skillCard {
    padding: calc(.75rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px)) calc(1.75rem + 0.5rem * (100vw - 1024px) / (1920px - 1024px));
  }
  .skillName {
    font-size: calc(1rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px));
  }
  .skillImage {
    width: calc(1.25rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
    height: calc(1.25rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
  }
}
