/* Mobile Devices & Tablets*/
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .title {
    font-size: calc(1.125rem + 0.25rem * (100vw - 320px) / (1023px - 320px));
  }
  .text {
    font-size: calc(1rem + 0rem * (100vw - 320px) / (1023px - 320px));
    margin-top: calc(0.75rem + 0rem * (100vw - 320px) / (1023px - 320px));
  }
  .textRevealText {
    font-size: calc(1.5rem + 0.5rem * (100vw - 320px) / (1023px - 320px));
    text-align: center;
    letter-spacing: calc(0.125rem + 0.0625rem * (100vw - 320px) / (1023px - 320px));
  }
  .mask {
    width: 100%;
  }
  .textRevealWrapper {
    margin-top: calc(1rem + 0.25rem * (100vw - 320px) / (1023px - 320px));
    height: calc(6.25rem + 1.25rem * (100vw - 320px) / (1023px - 320px));
  }
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: calc(1.125rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px));
  }
  .text {
    font-size: calc(1rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px));
  }
  .textRevealWrapper {
    margin-top: calc(1rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
    height: calc(4.6875rem + 0.625rem * (100vw - 1024px) / (1920px - 1024px));
  }
  .mask,
  .textRevealText {
    font-size: calc(1.375rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
    text-align: center;
    width: 100%;
  }
}
