.commonStyleSection {
  height: 100vh;
  padding-inline: var(--padding-60px);
}

.fobSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fobSectionWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-40px);
}

.fobSectionTitle {
  color: #fff;
  text-align: center;
  font-family: var(--font-family-primary);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fobSectionContent {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: repeat(2, 0.5fr);
  column-gap: var(--gap-24px);
  row-gap: var(--gap-24px);
}

.fobFirstContentCard,
.fobSecondContentCardWrapper,
.fobFourthContentCard {
  width: 100%;
  height: 100%;
  grid-row: span 2;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  gap: var(--gap-24px);
  overflow: hidden;
}

.fobFirstContentCard,
.fobFourthContentCard {
  border-radius: var(--border-radius-12px);
  background-color: var(--page-bg);
  border: 1px solid #ffffff1a;
  box-shadow: inset 0 -20px 80px -20px #ffffff1f;
  padding: var(--padding-32px);
  backdrop-filter: blur(10px);
  height: 100%;
  position: relative;
  transition: background-color 0.3s ease;
}

.fobFirstContentCard:hover,
.fobFourthContentCard:hover {
  background-color: var(--fob-card-on-hover);
  transition: background-color 0.3s ease;
}

.fobSecondContentCard,
.fobThirdContentCard {
  border-radius: var(--border-radius-12px);
  background-color: var(--page-bg);
  border: 1px solid #ffffff1a;
  box-shadow: inset 0 -20px 80px -20px #ffffff1f;
  padding: var(--padding-24px);
  backdrop-filter: blur(8px);
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.fobThirdContentCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fobSecondContentCard,
.fobThirdContentCard {
  height: 100%;
}

.fobSecondContentCard:hover,
.fobThirdContentCard:hover {
  background-color: var(--fob-card-on-hover);
  transition: background-color 0.3s ease;
}

.fobSecondContentCardTextWrapper {
  position: absolute;
  bottom: -90px;
  right: 32px;
  left: 32px;
  transition: opacity 0.4s ease, bottom 0.5s ease;
  opacity: 0;
}

.fobSecondContentCard:hover .fobSecondContentCardTextWrapper {
  bottom: 32px;
  transition: opacity 1s ease-out, bottom 0.5s ease-out;
  opacity: 1;
}

.fobFirstContentCardImage,
.fobFourthContentCardImage {
  width: 100%;
  border-radius: 12px;
  height: 500px;
  max-height: 500px;
  position: relative;
  overflow: hidden;
}

.infiniteMarqueeCardWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-40px);
}

.fobFirstContentCard:hover .fobFirstContentCardTextWrapper {
  bottom: 32px;
  transition: opacity 1s ease-out, bottom 0.5s ease-out;
  opacity: 1;
}

.fobFirstContentCardTextWrapper {
  position: absolute;
  bottom: -90px;
  right: 32px;
  left: 32px;
  transition: opacity 0.4s ease, bottom 0.5s ease;
  opacity: 0;
}

.fobFourthContentCardTextWrapper {
  position: absolute;
  bottom: -90px;
  right: 32px;
  left: 32px;
  transition: opacity 0.4s ease, bottom 0.5s ease;
  opacity: 0;
}

.fobFourthContentCard:hover .fobFourthContentCardTextWrapper {
  bottom: 32px;
  transition: opacity 1s ease-out, bottom 0.5s ease-out;
  opacity: 1;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8px);
}

.fobFirstContentCardTitle,
.fobSecondContentCardTitle,
.fobFourthContentCardTitle {
  color: #fff;
  font-family: var(--font-family-primary);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  gap: var(--gap-8px);
}

.fobFirstContentCardDescription,
.fobSecondContentCardDescription,
.fobFourthContentCardDescription {
  color: #fff;
  font-family: var(--font-family-secondary);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fobFirstContentCardTitleIcon,
.titleIcon {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  color: #fff;
}

.mailIcon {
  width: 28px;
  height: 28px;
}
