.commonStyleSection {
  height: 100vh;
  padding-inline: var(--padding-inline-60px);
}

.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroTitle {
  color: var(--default-text-color);
  text-align: center;
  font-family: var(--font-family-primary);
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.heroTitleLine {
  display: block;
}

.auraText {
  font-family: var(--font-family-primary);
  font-size: 56px;
  font-weight: 700;
  text-transform: capitalize;
}

.heroSectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-60px);
}

.heroDescriptionWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-12px);
}

.heroDescriptionText {
  text-align: center;
  font-family: var(--font-family-secondary);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: var(--monochrome-gradient-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.separatorShutter,
.heroDescriptionSeparator {
  width: 80px;
  height: 40px;
}

.hiIcon {
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
  transform-origin: 70% 70%;
}

.heroDescriptionSeparator:hover .hiIcon {
  animation-play-state: active;
}

.heroDescriptionSeparator {
  border-radius: var(--border-radius-40px);
  background: transparent;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--hero-separator-border-color);
}

.separatorShutter {
  transform: translateY(0%);
  background: #d9d9d9;
  transition: transform 0.5s ease-in-out;
  position: absolute;
  z-index: 4;
}

.heroDescriptionSeparator:hover .separatorShutter {
  transform: translateY(-100%);
  transition: transform 0.4s ease-out;
}
