.commonStyleSection {
  height: 100vh;
  padding-inline: var(--padding-60px);
}

.skillSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.skillSectionWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-40px);
}

.skillSpinningImage {
  width: 340px;
  height: 340px;
  aspect-ratio: 1/1;
}

.skillTopWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-20px);
}

.skillSectionTitle {
  color: #fff;
  text-align: center;
  font-family: var(--font-family-primary);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.skillBottomWrapper {
  width: 87.27%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-16px);
}
