.commonStyleSection {
  height: 100vh;
  padding-inline: var(--padding-60px);
}

.contactSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.contactLogo {
  width: 9.375rem;
  height: 9.375rem;
  object-fit: cover;
  aspect-ratio: 1/1;
  margin-bottom: 2rem;
}

.contactSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg,
      #0c0811 4.27%,
      rgba(0, 0, 0, 0.6) 50%,
      #0c0811 95.63%);
  z-index: 1;
}

.contactSection>* {
  position: relative;
  z-index: 2;
}

.contactSectionWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-56px);
}

.contactImage {
  width: 9.375rem;
  height: 9.375rem;
}

.contactHeading {
  width: 35.875rem;
  color: #fff;
  text-align: center;
  font-family: var(--font-family-primary);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  /* 125% */
}

.contactSpan {
  color: #fff;
  font-family: var(--font-family-primary);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem;
}

.contactButton {
  display: block;
  padding: 0.75rem 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  border: 1px solid var(--BG, #0c0811);
  background: #fff;
  box-shadow: 0.25rem 0.25rem 0 0 #f6b2e1;
  color: var(--default-text-color-dark);
  text-align: center;
  font-family: "Satoshi Variable";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
  /* 155.556% */
}

.titleTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-24px);
  align-items: center;
}

.contentSubHeading {
  color: #fff;
  text-align: center;
  font-family: var(--font-family-secondary);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.625rem;
  /* 131.25% */
}

.contentParagraph {
  color: #fff;
  text-align: center;
  font-family: var(--font-family-secondary);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.125rem;
  /* 141.667% */
  width: 33.625rem;
}

/* Mobile Devices & Tablets*/
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .commonStyleSection {
    padding-inline: calc(1rem + .25rem * (100vw - 320px) / (1023px - 320px));
  }

  .contactHeading {
    font-size: calc(1.25rem + .5rem * (100vw - 320px) / (1023px - 320px));
    line-height: calc(2.25rem + .5rem * (100vw - 320px) / (1023px - 320px));
  }

  .contactSpan {
    font-size: calc(1.375rem + 0.375rem * (100vw - 320px) / (1023px - 320px));
    line-height: calc(1.375rem + 0.375rem * (100vw - 320px) / (1023px - 320px));
  }

  .contentSubHeading {
    font-size: calc(1.125rem + 0.125rem * (100vw - 320px) / (1023px - 320px));
  }

  .contentWrapper {
    width: 100%;
    gap: calc(0.75rem + 0.25rem * (100vw - 320px) / (1023px - 320px));
  }

  .contentParagraph {
    font-size: calc(1rem + 0.125rem * (100vw - 320px) / (1023px - 320px));
    width: 100%;
    line-height: calc(1.375rem + 0.25rem * (100vw - 320px) / (1023px - 320px));
  }

  .contactSectionWrapper {
    gap: calc(3.75rem + 1.25rem * (100vw - 320px) / (1023px - 320px));
  }

  .contactLogo {
    width: calc(6.25rem + 1.25rem * (100vw - 320px) / (1023px - 320px));
    height: calc(6.25rem + 1.25rem * (100vw - 320px) / (1023px - 320px));
    margin-bottom: calc(1.5rem + 0.5rem * (100vw - 320px) / (1023px - 320px));
  }

  .contactButton {
    padding: calc(0.5rem + 0.25rem * (100vw - 320px) / (1023px - 320px)) calc(1.125rem + 0.375rem * (100vw - 320px) / (1023px - 320px));
    font-size: calc(1rem + 0.125rem * (100vw - 320px) / (1023px - 320px));
    border-radius: 4px;
  }
}

/* Laptop and Desktop Screens */
@media screen and (min-width: 1024px) {
  .contactHeading {
    font-size: calc(1.75rem + .5rem * (100vw - 1024px) / (1920px - 1024px));
  }

  .contactSpan {
    font-size: calc(1.75rem + .5rem * (100vw - 1024px) / (1920px - 1024px));
  }

  .contentSubHeading {
    font-size: calc(1.25rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
  }

  .contentParagraph {
    font-size: calc(1rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px));
    line-height: calc(1.5rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
  }

  .contentWrapper {
    gap: calc(1rem + 0.5rem * (100vw - 1024px) / (1920px - 1024px));
  }

  .contactButton {
    padding: calc(0.625rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px)) calc(1.5rem + 0.5rem * (100vw - 1024px) / (1920px - 1024px));
    font-size: calc(1rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px));
  }

  .contactLogo {
    width: calc(7.5rem + 1.25rem * (100vw - 1024px) / (1920px - 1024px));
    height: calc(7.5rem + 1.25rem * (100vw - 1024px) / (1920px - 1024px));
    margin-bottom: calc(1.5rem + 0.5rem * (100vw - 1024px) / (1920px - 1024px));
  }
}