.commonStyleSection {
  height: 100vh;
  padding-inline: var(--padding-60px);
}

.skillSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.skillSectionWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-40px);
}

.skillSpinningImage {
  width: 340px;
  height: 340px;
  aspect-ratio: 1/1;
  animation: spin 20s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.skillTopWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-20px);
}

.skillSectionTitle {
  color: #fff;
  text-align: center;
  font-family: var(--font-family-primary);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.skillBottomWrapper {
  width: 87.27%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap-16px);
}

.skillsToggleButton {
  padding: var(--gap-12px) var(--gap-24px);
  background-color: var(--page-bg);
  backdrop-filter: blur(8px);
  border: 1px solid #ffffff1a;
  box-shadow: inset 0 -12px 40px -20px #ffffff1f;
  color: #ebe8e8;
  border-radius: 8px;
  font-family: var(--font-family-secondary);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: normal;
  letter-spacing: 0.5px;
}

.skillsToggleButton:hover {
  background-color: var(--page-bg);
  color: #fff;
  box-shadow: inset 0 -12px 50px -20px #ffffff1f;
}

/* Mobile Devices & Tablets*/
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .commonStyleSection {
    height: auto;
    margin-block: calc(6rem + 0rem * (100vw - 320px) / (1023px - 320px));
    padding-inline: calc(1rem + 0.25rem * (100vw - 320px) / (1023px - 320px));
  }

  .skillSpinningImage {
    width: calc(11.25rem + 4.375rem * (100vw - 320px) / (1023px - 320px));
    height: calc(11.25rem + 4.375rem * (100vw - 320px) / (1023px - 320px));
  }

  .skillSectionTitle {
    font-size: calc(1.5rem + 0.5rem * (100vw - 320px) / (1023px - 320px));
  }

  .skillBottomWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .skillsToggleButton {
    padding: calc(0.75rem + 0.25rem * (100vw - 320px) / (1023px - 320px)) calc(1.5rem + 0.5rem * (100vw - 320px) / (1023px - 320px));
    font-size: calc(0.875rem + 0.125rem * (100vw - 320px) / (1023px - 320px));
  }
}

@media screen and (min-width: 620px) {
  .skillBottomWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*Laptop And Desktop*/
@media screen and (min-width: 1024px) {
  .commonStyleSection {
    padding-inline: calc(2.5rem + 1rem * (100vw - 1024px) / (1920px - 1024px));
    height: auto;
    margin-bottom: calc(80px + 40px * (100vw - 1024px) / (1920px - 1024px));
  }

  .skillSpinningImage {
    width: calc(15.625rem + 4.375rem * (100vw - 1024px) / (1920px - 1024px));
    height: calc(15.625rem + 4.375rem * (100vw - 1024px) / (1920px - 1024px));
  }

  .skillSectionTitle {
    font-size: calc(1.75rem + .5rem * (100vw - 1024px) / (1920px - 1024px));
  }

  .skillBottomWrapper {
    width: 100%;
    gap: calc(1.25rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
  }

  .skillTopWrapper {
    gap: calc(1.25rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
  }
}