.commonStyleSection {
  height: 100vh;
  padding-inline: var(--padding-60px);
}

.testimonialSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.testimonialSectionWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-40px);
}

.testimonialSectionTitleWrapper,
.testimonialSectionStackWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-24px);
  align-items: flex-start;
  width: 50%;
}

.testimonialSectionStackWrapper {
  padding-left: var(--padding-60px);
}

.testimonialSectionTitle {
  color: #fff;
  text-align: center;
  font-family: var(--font-family-primary);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.testimonialSectionDescription {
  color: #fff;
  font-family: var(--font-family-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

