.commonStyleSection {
  height: 100vh;
  padding-inline: var(--padding-60px);
}

.testimonialSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.testimonialSectionWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-40px);
}

.testimonialSectionTitleWrapper,
.testimonialSectionStackWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-24px);
  align-items: flex-start;
  width: 50%;
}

.testimonialSectionStackWrapper {
  padding-left: var(--padding-60px);
}

.testimonialSectionTitle {
  color: #fff;
  text-align: center;
  font-family: var(--font-family-primary);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.testimonialSectionDescription {
  color: #fff;
  font-family: var(--font-family-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

/* Mobile Devices & Tablets*/
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .commonStyleSection {
    height: auto;
    margin-bottom: calc(3.75rem + 0rem * (100vw - 320px) / (1023px - 320px));
    padding-inline: calc(1rem + .25rem * (100vw - 320px) / (1023px - 320px));
  }

  .testimonialSectionTitle {
    width: 100%;
    font-size: calc(1.5rem + .5rem * (100vw - 320px) / (1023px - 320px));
    text-align: center;
  }

  .testimonialSectionTitleWrapper {
    width: 100%;
    gap: calc(0.75rem + 0.25rem * (100vw - 320px) / (1023px - 320px));
  }

  .testimonialSectionWrapper {
    flex-direction: column;
    gap: calc(2.5rem + 0.5rem * (100vw - 320px) / (1023px - 320px));
  }

  .testimonialSectionStackWrapper {
    padding-left: calc(1.5rem + 0.5rem * (100vw - 320px) / (1023px - 320px));
  }

  .testimonialSectionDescription {
    font-size: calc(1rem + 0.125rem * (100vw - 320px) / (1023px - 320px));
  }
}

/* Laptop and Desktop Screen */
@media screen and (min-width: 1024px) {
  .testimonialSectionTitle {
    font-size: calc(1.75rem + .5rem * (100vw - 1024px) / (1920px - 1024px));
  }

  .testimonialSectionDescription {
    font-size: calc(1rem + 0.125rem * (100vw - 1024px) / (1920px - 1024px));
    text-align: left;
    line-height: calc(1.5rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
  }

  .testimonialSectionTitleWrapper {
    gap: calc(0.75rem + 0.25rem * (100vw - 1024px) / (1920px - 1024px));
  }

  .testimonialSectionStackWrapper {
    padding-left: calc(1.5rem + 0.5rem * (100vw - 1024px) / (1920px - 1024px));
  }

  .testimonialSectionWrapper {
    gap: calc(1.5rem + 0.5rem * (100vw - 1024px) / (1920px - 1024px));
  }
}
